@model IEnumerable<AuthTestApp.Models.VicidialCampaign>

<div>
    <h1>ViciDial Campaigns</h1>
</div>

<div>
    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Campaign Name
                    </th>
                    <th>
                        Active
                    </th>
                    <th>
                        Lead Order
                    </th>
                    <th>
                        Hopper Level
                    </th>
                    <th>
                        Auto Dial Level
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                <tr>
                    <td>@obj.CampaignName</td>
                    <td>@obj.Active</td>
                    <td>@obj.LeadOrder</td>
                    <td>@obj.HopperLevel</td>
                    <td>@obj.AutoDialLevel</td>
                    <td class="w-75 btn-group" role="group">
                        <a asp-controller="VicidialCampaign" asp-route-Id="@obj.CampaignId" asp-action="Details" class="mx-1">Details</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>There is an error loading this table... Please try again.</p>
    }
</div>
